:root {
  --primary: #ffffff;
  --primary-text: #ffffff;
  --secondary: #000000;
  --secondary-text: #ffffff;
  --accent: #505050;
  --accent-text: #000000;
  --accent1: #ffffff;
  --primary2: #000000
}
